<section class="form">
  <%= simple_form_for @category do |f| %>

    <% if @category.errors.any? %>
      <div class="errors">
        <% @category.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </div>
    <% end %>

    <h2>New category</h2>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>

    <span class="hint">
      Keep it in max 20 characters
    </span>

    <%= f.button :submit, "Create ☻", class:"btn-primary" %>
  <% end %>
</section>
