<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> Jobbbos - jobs without complication</title>
    <meta name="description" content="Find a job yourself, faster than ever before" />
    <!-- Meta tags -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Other tags -->
    <%= favicon_link_tag 'jobbbos_icon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Social tags -->
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="Jobbbos - jobs without complication" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://jobbbos.herokuapp.com/" />
    <meta property="og:image" content="https://preview.ibb.co/ibzKYH/Screen_Shot_2018_03_01_at_21_33_10.png" />
    <meta property="og:description" content="Find a job faster than ever before" />
  </head>

  <body>
    <!-- Header section-->
    <section class="header">
      <nav>
        <h1><%= link_to "#Jobbbos", root_path, class: "logo" %></h1>
        <h2>The greatest job listings from your area!</h2>
        <div class="links">
          <% if !current_page?(action: 'new') %>
            <%= link_to "Create new category", new_category_path, class: "btn-primary" %>
          <% else %>
            <%= link_to "←Back to main Jobbbos", root_path  %>
          <% end %>
        </div>
      </nav>
    </section>

    <section class="main-content">
        <%= yield %>
    </section>

    <footer>
      <p>
        All rights belong to Jobbbos INC. <span class="italic">like it's a real company</span>
      </p>
      <a href="https://www.superhi.com/?r=javpet">I learned to code with SuperHi ★★★</a>
    </footer>
  </body>
</html>
